
#cont-selector {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: white;
    
}

.contenedor_simulaciones
{
    position: absolute;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    margin-left: 6.5%;
    margin-right: 4.5%;
    
    
}

.uno
{
    position: relative;
    width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom:1%;
     
    
}

.select {
    
   
    background-color: white;
    color: #1C1C1C;
    padding: 5px;
    border-radius: 5%;
    display:inline-block;
    border: 1px solid lightgrey;
    width: 140px;
    margin-left: 1%;
}
.select:first-child
{
    
    width: 230px;
}
.select:nth-child(3),.select:nth-child(4)
{
    
    width: 100px;
}


.filter-button {
    color: black;
    width: 150px;
    height: auto;
    background-color: red;
    display: inline-block;
    margin-left: 3%;
    padding: 7px;
    border-radius: 2px;
    background-color: #e86363;
    color: white;
    text-align: center;
    border: solid 1px #e86363 ;

}

#contenedor-planilla
{
  
    
    margin: 0 auto;
    width: 100%;
    background-color: white;
    margin-top: 6%;
    height: auto;
    
}

.planilla
{
    margin: 0 auto;
    width: 100%;
    height: 550px;
    background-color: white;
    border: 0px;
    text-align: center;
    
}
    .planilla td {
        padding: 2px;
        border: none;
        border-right: solid 1px #c1c1c1;
        border-left: solid 1px #c1c1c1
    }
    
    .planilla th {
        padding: 2px;
        color: #fff;
        background: #e86363;
        border: none;
        /*border-right: solid 1px white;*/
        
        font-size: 1.1em;
    }
      .planilla th:first-child 
   {
    border-left: solid 1px #e86363;
    }
    .planilla th:last-child 
    {
    border-right: solid 1px #e86363;
     }
   .planilla td:last-child
   {
     border-right: none;
    }
    .planilla td:first-child
    {
        border-left: none;
        
    }
    .planilla .page td 
    {
        border:none;
    }

    .planilla .page {
        border-top: solid 1px #c1c1c1;
    }
   

        .planilla .page a {
            text-decoration: none;
            color: black;
            padding: 2px;
            
            
        }


.page span {
    background-color: #e86363;
    color: white;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.error {
    position: absolute;
    font-size: 2em;
    color: black;
    z-index: 999;
}
/*li:active
{
   border-top-right-radius: 2px;
    border-bottom-right-radius:2px ;
   width: 110%; 
}*/