* 
{
    padding: 0;
    margin: 0;
}

nav 
{
    position: fixed;
    float: left;
    width:3.5%;
    height: 100%;
    background-color: #414040;
}
body
{
    background-color: #ecf0f1;
}
nav ul
{
    position: relative;
    width: 100%;
    display: block;
    height: 100%;
    
}

nav ul li 
{
width: 100%;
height: 55px;
    display: block;
  background-color: #1C1C1C;
   
    
}
nav ul li:first-child
{
    background-color: #FFB900;
}
nav ul li:nth-child(2)
{
    background-color: #2574A9;
}

nav ul li:last-child

{
    position: absolute;
    background-color: #336E7B;
    border: 0;
    
    bottom:0;
}
nav ul li img
{
   
    display: block;
    
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding-top: 20%;
    vertical-align: middle;
}

#cont-selector
{
   
    
    
    width: 100%;
    
    height: 55px;
    background-color: white;
    
}

#list-cont
{
    
    width: 80%;
   
    
    margin: 0 auto;
   
    margin-top: 2%;
    margin-left: 11.5%;
}
#list-cont ul
{
    
    
}
#list-cont ul li 
{
     display: block;
     width: 100%;
     height: 150px;
     background-color: white;
     margin-top: 1%;
     
}
#list-cont ul li:last-child
{
    margin-bottom: 1%;
}
#cont-select
{
    width: 80%;
   
    
    margin: 0 auto;
   
   
    margin-left: 11.5%;
}
select 
{
    margin-left: 0;
   
    background-color:white;
    color:#1C1C1C;
    padding: 5px;
    border-radius: 5%;
    border: 1px solid lightgrey;
    
    width: 100%;
}
.of-cont
{
   margin-top: 1%;
    margin-left: 2%;
    
    width: auto;
    height: auto;
    display: inline-block;
}
.of-cont:first-child
{
    margin-left: 10.5%;
}

#filter-button
{
   
    color:black;
    width: 150px;
    height: auto;
    background-color: red;
    display: inline-block;
    margin-left: 5%;
    padding: 5px;
    border-radius: 2px;
    background-color: #e86363;
}
#filter-button p
{
    color:white;
    text-align: center;
}


/*li:active
{
   border-top-right-radius: 2px;
    border-bottom-right-radius:2px ;
   width: 110%; 
}*/