

#form-cont
{
    margin:0 auto;
    border: solid 1px rgba(255,255,255,0.2); /*rgba(255,255,255,0.05)*/
    
    
    
    width: 25%;
    height: 350px;
    margin-top: 7%;
    text-align: center;
}
#h3-cont
{
    position: relative;
    margin-top:0;
    
    height: 55px;
    text-align: center;
    
    /**#E33E51 **/
    
}
h3 
{
    
    position: absolute;
    margin: 0 auto;
    width: 100%;
    margin-top: 8%;
    font-size: 2em;
    color: black;
    
}
.texterror {
    margin-top: 5%;
    display: block;
    font-size: 1.1em;
    font-family: Delgadita;
}



.input {
    margin: 0 auto;
    display: block;
    margin-top: 3%;
    font-size: 1.2em;
    width: 75%;
    height: 30px;
    background-color: rgba(255,255,255,0.1);
    border: solid 2px #e8eaed;
    border-radius: 25px;
    padding: 7px;
    padding-left: 20px;
    color: black;
    outline: none;
}

form 
{
font-family: Delgadita;
}

#box-cont 
{
    width: 100%;
    height: auto;
    margin-top: 8%;
}
.button {
    margin-top: 8%;
    width: 85%;
    height: 50px;
    background-color: #ef5f5f;
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 1.4em;
}

.button:hover 
{
    background-color: #ed4747 ;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
 
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
 
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
  
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
   
}